@using Microsoft.AspNet.Identity.EntityFramework
@model IdentityUser


@{
    ViewBag.Title = "AssignRoleToUser";
}

<h2>Assign Role to User</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Select your User Type", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("UserName")
        </div>
    </div>
    <input type="submit" value="Create Role" />
}
