@model WebSite.Models.Person

@{
    ViewBag.Title = Resources.Person.Views.CreateTitle;
    ViewBag.Submit = Resources.Shared.Create;
}

<h2>@Resources.Person.Views.CreateTitle</h2>

@Html.EditorForModel()

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
