@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Disabled User";
}

<hgroup>
    <h1 class="text-danger">Disabled User.</h1>
    <h2 class="text-danger">This account has been disabled, please communicate with the Administrator.</h2>
</hgroup>
