@model WebSite.Models.User

@{
    ViewBag.Title = Resources.User.Views.EditTitle;
    ViewBag.Submit = Resources.Shared.Edit;
}

<h2>@Resources.User.Views.EditTitle</h2>

@Html.EditorForModel()

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
