<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BlogSite-20180514103417.mdf;Initial Catalog=aspnet-BlogSite-20180514103417;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>